@import "vars";

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: $color-darker;
  transition: all ease-in-out .2s;

  &:hover {
    color: $brand-color;
  }

}

.hidden {
  display: none!important;
}

.text-color-alt {
  color: $brand-color;
}

.section {

  &-heading {
    font-size: $section-heading-size;
  }

}